= form_with url: searchs_path , method: "get", local: true  do
  = select_tag :category, options_for_select(searchs_types), class: 'btn'
  = text_field_tag :search, '', placeholder: 'Search field'
  = submit_tag 'Find!', class: 'btn'
